.container.marketing
  / Three columns of text below the carousel
  .row
    .col-lg-4
      %img.rounded-circle{:alt => "Generic placeholder image", :height => "140", :src => "https://i.pinimg.com/564x/d1/9e/b9/d19eb960e5ea43dcfcfb50b80b80c0ab.jpg", :width => "140"}/
      %h2 Instagram
      %p
        %a.btn.btn-secondary{:href => "https://www.instagram.com/_i.kravtsov_/?hl=ru", :role => "button"} @_i.kravtsov_
    / /.col-lg-4
    .col-lg-4
      %img.rounded-circle{:alt => "Generic placeholder image", :height => "140", :src => "https://pbs.twimg.com/profile_images/1157035760085684224/iuxTnT5g_400x400.jpg", :width => "140"}/
      %h2 Github
      %p
        %a.btn.btn-secondary{:href => "https://github.com/ololo534", :role => "button"} github.com/ololo534
    / /.col-lg-4
    .col-lg-4
      %img.rounded-circle{:alt => "Generic placeholder image", :height => "140", :src => "https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/VK.com-logo.svg/192px-VK.com-logo.svg.png", :width => "140"}/
      %h2 Vk
      %p
        %a.btn.btn-secondary{:href => "https://vk.com/vanekkravtsov", :role => "button"} vk.com/vanekkravtsov
    / /.col-lg-4
  / /.row
