%body
  .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
    %header.masthead.mb-auto
    %main.inner.cover{:role => "main"}
      %h1.cover-heading Food4u
      %p.lead
        = t('main.main_text')
      %p.lead
        %a.btn.btn-lg.btn-secondary{:href => "/search"}
          = t('navbar.item.search')
    .shadow
