<%= form_tag  '/login', :class => "form-signin text-center" do %>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
  </div>
  <div class="form-label-group">
    <label for="username"></label><input type="text" name="username" class="form-control" id="username" placeholder="username"/>
  </div>
  <div class="form-label-group">
    <label for="password"></label><input type="password" name="password" id="password" class="form-control" placeholder="Пароль" />
  </div>
  <input type="submit" name="commit" class="btn btn-lg btn-primary btn-block" value="Войти" data-disable-with="Попытка входа"/>
  <a href="/signup">Регистрация</a>
<% end %>